In [301]:
import pandas as pd
import numpy as np

In [302]:
'''
1. get the 6 month order list from Shopify
2. get values count for all the items that has been sold
3. parse the skus and try to categorize them (if possible)
'''

all_files = ['orders_1.csv', 'orders_2.csv']
df_from_each_file = (pd.read_csv(f) for f in all_files)
all_orders = pd.concat(df_from_each_file, ignore_index=True)
all_orders.head()

<ipython-input-302-01e1ca090af4>:9: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  all_orders = pd.concat(df_from_each_file, ignore_index=True)
<ipython-input-302-01e1ca090af4>:9: DtypeWarning: Columns (52) have mixed types.Specify dtype option on import or set low_memory=False.
  all_orders = pd.concat(df_from_each_file, ignore_index=True)

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Tax 2 Value,Tax 3 Name,Tax 3 Value,Tax 4 Name,Tax 4 Value,Tax 5 Name,Tax 5 Value,Phone,Receipt Number,Duties
0,#DBB100437903KR,leea.molin@hotmail.com,paid,2020-12-31 09:43:44 -0500,unfulfilled,NaN,yes,USD,34.99,15.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.672333e+10,NaN,NaN
1,#DBB100437902KR,rhodesk29@icloud.com,paid,2020-12-31 07:52:52 -0500,unfulfilled,NaN,no,USD,112.35,9.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#DBB100437902KR,rhodesk29@icloud.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#DBB100437901KR,blossomtears@gmx.de,paid,2020-12-31 07:28:55 -0500,unfulfilled,NaN,no,USD,34.99,9.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#DBB100437900KR,Jthat784@gmail.com,paid,2020-12-31 01:22:00 -0500,unfulfilled,NaN,no,USD,73.97,9.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [303]:
all_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29589 entries, 0 to 29588
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         29589 non-null  object
 1   Email                        29545 non-null  object
 2   Financial Status             19958 non-null  object
 3   Paid at                      17031 non-null  object
 4   Fulfillment Status           19958 non-null  object
 5   Fulfilled at                 18842 non-null  object
 6   Accepts Marketing            19958 non-null  object
 7   Currency                     19958 non-null  object
 8   Subtotal                     19958 non-null  float64
 9   Shipping                     19958 non-null  float64
 10  Taxes                        19958 non-null  float64
 11  Total                        19958 non-null  float64
 12  Discount Code                2707 non-null   object
 13  Discount Amount              19958 non-null  float64
 14  Shipping Method              19929 non-null  object
 15  Created at                   29589 non-null  object
 16  Lineitem quantity            29589 non-null  int64
 17  Lineitem name                29589 non-null  object
 18  Lineitem price               29589 non-null  float64
 19  Lineitem compare at price    4626 non-null   float64
 20  Lineitem sku                 28687 non-null  object
 21  Lineitem requires shipping   29589 non-null  bool
 22  Lineitem taxable             29589 non-null  bool
 23  Lineitem fulfillment status  29589 non-null  object
 24  Billing Name                 19958 non-null  object
 25  Billing Street               19954 non-null  object
 26  Billing Address1             19954 non-null  object
 27  Billing Address2             4411 non-null   object
 28  Billing Company              259 non-null    object
 29  Billing City                 19953 non-null  object
 30  Billing Zip                  19839 non-null  object
 31  Billing Province             17559 non-null  object
 32  Billing Country              19954 non-null  object
 33  Billing Phone                19358 non-null  object
 34  Shipping Name                19953 non-null  object
 35  Shipping Street              19953 non-null  object
 36  Shipping Address1            19953 non-null  object
 37  Shipping Address2            4630 non-null   object
 38  Shipping Company             323 non-null    object
 39  Shipping City                19952 non-null  object
 40  Shipping Zip                 19844 non-null  object
 41  Shipping Province            17538 non-null  object
 42  Shipping Country             19953 non-null  object
 43  Shipping Phone               19944 non-null  object
 44  Notes                        6748 non-null   object
 45  Note Attributes              11157 non-null  object
 46  Cancelled at                 359 non-null    object
 47  Payment Method               10279 non-null  object
 48  Payment Reference            17381 non-null  object
 49  Refunded Amount              19958 non-null  float64
 50  Vendor                       29589 non-null  object
 51  Outstanding Balance          19958 non-null  float64
 52  Employee                     6 non-null      object
 53  Location                     0 non-null      float64
 54  Device ID                    0 non-null      float64
 55  Id                           19958 non-null  float64
 56  Tags                         9671 non-null   object
 57  Risk Level                   19958 non-null  object
 58  Source                       19958 non-null  object
 59  Lineitem discount            29589 non-null  float64
 60  Tax 1 Name                   1766 non-null   object
 61  Tax 1 Value                  1766 non-null   float64
 62  Tax 2 Name                   1301 non-null   object
 63  Tax 2 Value                  1301 non-null   float64
 64  Tax 3 Name                   448 non-null    object
 65  Tax 3 Value                  448 non-null    float64
 66  Tax 4 Name                   0 non-null      float64
 67  Tax 4 Value                  0 non-null      float64
 68  Tax 5 Name                   0 non-null      float64
 69  Tax 5 Value                  0 non-null      float64
 70  Phone                        4127 non-null   float64
 71  Receipt Number               0 non-null      float64
 72  Duties                       0 non-null      float64
dtypes: bool(2), float64(23), int64(1), object(47)
memory usage: 16.1+ MB

In [304]:
all_orders.describe()

,Subtotal,Shipping,Taxes,Total,Discount Amount,Lineitem quantity,Lineitem price,Lineitem compare at price,Refunded Amount,Outstanding Balance,...,Tax 1 Value,Tax 2 Value,Tax 3 Value,Tax 4 Name,Tax 4 Value,Tax 5 Name,Tax 5 Value,Phone,Receipt Number,Duties
count,19958.000000,19958.000000,19958.000000,19958.000000,19958.000000,29589.000000,29589.000000,4626.000000,19958.000000,19958.000000,...,1766.000000,1301.000000,448.000000,0.0,0.0,0.0,0.0,4.127000e+03,0.0,0.0
mean,59.775315,6.164144,0.531849,66.337283,1.311714,1.025111,40.529918,73.955160,1.867902,0.065601,...,4.923703,1.222790,0.733348,NaN,NaN,NaN,NaN,1.282032e+11,NaN,NaN
std,54.489691,7.036043,2.192829,56.032254,8.333755,0.195973,44.365246,71.937535,12.498512,3.074263,...,4.002216,1.637723,0.812765,NaN,NaN,NaN,NaN,9.157082e+11,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.070000,0.020000,0.030000,NaN,NaN,NaN,NaN,4.520601e+09,NaN,NaN
25%,29.870000,0.000000,0.000000,39.960000,0.000000,1.000000,15.990000,20.990000,0.000000,0.000000,...,2.170000,0.290000,0.220000,NaN,NaN,NaN,NaN,1.435592e+10,NaN,NaN
50%,49.990000,4.990000,0.000000,53.150000,0.000000,1.000000,28.990000,55.000000,0.000000,0.000000,...,3.910000,0.670000,0.420000,NaN,NaN,NaN,NaN,1.714703e+10,NaN,NaN
75%,62.990000,9.990000,0.000000,72.990000,0.000000,1.000000,54.990000,100.000000,0.000000,0.000000,...,5.800000,1.250000,0.855000,NaN,NaN,NaN,NaN,1.928660e+10,NaN,NaN
max,1115.630000,80.000000,56.890000,1115.630000,448.000000,6.000000,444.000000,480.000000,272.010000,361.790000,...,44.590000,14.500000,4.810000,NaN,NaN,NaN,NaN,4.949590e+13,NaN,NaN

In [305]:
all_orders['Lineitem name'].value_counts()

Route Package Protection - $0.98                                                   1612
Daebak Box - Seasonal Plan (auto-renews, cancel anytime)                           1500
Annual (ships once every season, auto-renews every year)                           1272
Seasonal (ships once every season, auto-renews every season)                       1248
Daebak Box - Seasonal Plan (auto-renews, cancel anytime) (Ships every 3 Months)    1121
                                                                                   ...
BT21 Heart Embroidery Ball Cap - Pink                                                 1
[Pre-Order] SONG JI EUN - BLOOM: 開花 (Single Album)                                    1
FILA T-PACK Backpack White                                                            1
Shil Note Antique Notebook + Sticker Set (Roots)                                      1
JEONG SEWOON Official Light Stick                                                     1
Name: Lineitem name, Length: 3870, dtype: int64

In [306]:
all_orders['Lineitem sku'].value_counts()

DBB_Seasonal                                                          3909
DBB_Annual                                                            3062
ROUTEINS10                                                            1612
SF_DLX                                                                1472
K-Drama - 90017 - tvN - 사이코지만 괜찮아 고문영 동화 책 도서 - 진짜 진짜 얼굴을 찾아서 - DA     631
                                                                      ...
Food - 40099 - Paldo - 뽀로로 떡볶이 버스팩 - 4개 매콤맛 - DA                         1
Characters - 10503 - TinyTAN - 타이니탄 캐릭터 2 Pocket Folder - V - DA         1
Beauty - 21278 - COSRX - Low pH Good Morning Gel Cleanser - ST           1
GM-DA-펜타곤 Five Senses 미니2집-1784912197                                    1
Beauty - 20415 - ETUDE - 하트 블라썸 치크 - #PK004 My Little Blossom            1
Name: Lineitem sku, Length: 4055, dtype: int64

In [307]:
# Functions
def addCategoriesToDf(df):
    """
    columnize the first keyword for all sku categories
    :param df: dataset
    :return: dataset
    """
    df_added = df.copy(deep=True)
    for index, row in df_added.iterrows():
        sku_name = splitSKU(str(df_added.at[index, 'Lineitem sku']).lower())
        df_added.at[index, 'Category'] = sku_name
    return df_added

def splitSKU(sku):
    """
    sku helper function
    :param sku: column value
    :return: parsed string
    """
    to_return = sku.replace('-', '').split(' ')[0].replace("'", '')
    if len(to_return) >= 31:
        return to_return[:30]
    else:
        return to_return

def categorizedItems(df):
    """
    sort values based on their category
    :param df: dataset
    :return: dataset
    """
    merge_df = df.groupby(['Lineitem name', 'Lineitem sku', 'Category'], as_index=False).agg({'Lineitem quantity': 'sum'})
    merge_df.sort_values(['Category', 'Lineitem quantity'], ascending=False).groupby('Category')
    return merge_df.reset_index()

In [308]:
categorized = addCategoriesToDf(all_orders)
categorized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29589 entries, 0 to 29588
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         29589 non-null  object
 1   Email                        29545 non-null  object
 2   Financial Status             19958 non-null  object
 3   Paid at                      17031 non-null  object
 4   Fulfillment Status           19958 non-null  object
 5   Fulfilled at                 18842 non-null  object
 6   Accepts Marketing            19958 non-null  object
 7   Currency                     19958 non-null  object
 8   Subtotal                     19958 non-null  float64
 9   Shipping                     19958 non-null  float64
 10  Taxes                        19958 non-null  float64
 11  Total                        19958 non-null  float64
 12  Discount Code                2707 non-null   object
 13  Discount Amount              19958 non-null  float64
 14  Shipping Method              19929 non-null  object
 15  Created at                   29589 non-null  object
 16  Lineitem quantity            29589 non-null  int64
 17  Lineitem name                29589 non-null  object
 18  Lineitem price               29589 non-null  float64
 19  Lineitem compare at price    4626 non-null   float64
 20  Lineitem sku                 28687 non-null  object
 21  Lineitem requires shipping   29589 non-null  bool
 22  Lineitem taxable             29589 non-null  bool
 23  Lineitem fulfillment status  29589 non-null  object
 24  Billing Name                 19958 non-null  object
 25  Billing Street               19954 non-null  object
 26  Billing Address1             19954 non-null  object
 27  Billing Address2             4411 non-null   object
 28  Billing Company              259 non-null    object
 29  Billing City                 19953 non-null  object
 30  Billing Zip                  19839 non-null  object
 31  Billing Province             17559 non-null  object
 32  Billing Country              19954 non-null  object
 33  Billing Phone                19358 non-null  object
 34  Shipping Name                19953 non-null  object
 35  Shipping Street              19953 non-null  object
 36  Shipping Address1            19953 non-null  object
 37  Shipping Address2            4630 non-null   object
 38  Shipping Company             323 non-null    object
 39  Shipping City                19952 non-null  object
 40  Shipping Zip                 19844 non-null  object
 41  Shipping Province            17538 non-null  object
 42  Shipping Country             19953 non-null  object
 43  Shipping Phone               19944 non-null  object
 44  Notes                        6748 non-null   object
 45  Note Attributes              11157 non-null  object
 46  Cancelled at                 359 non-null    object
 47  Payment Method               10279 non-null  object
 48  Payment Reference            17381 non-null  object
 49  Refunded Amount              19958 non-null  float64
 50  Vendor                       29589 non-null  object
 51  Outstanding Balance          19958 non-null  float64
 52  Employee                     6 non-null      object
 53  Location                     0 non-null      float64
 54  Device ID                    0 non-null      float64
 55  Id                           19958 non-null  float64
 56  Tags                         9671 non-null   object
 57  Risk Level                   19958 non-null  object
 58  Source                       19958 non-null  object
 59  Lineitem discount            29589 non-null  float64
 60  Tax 1 Name                   1766 non-null   object
 61  Tax 1 Value                  1766 non-null   float64
 62  Tax 2 Name                   1301 non-null   object
 63  Tax 2 Value                  1301 non-null   float64
 64  Tax 3 Name                   448 non-null    object
 65  Tax 3 Value                  448 non-null    float64
 66  Tax 4 Name                   0 non-null      float64
 67  Tax 4 Value                  0 non-null      float64
 68  Tax 5 Name                   0 non-null      float64
 69  Tax 5 Value                  0 non-null      float64
 70  Phone                        4127 non-null   float64
 71  Receipt Number               0 non-null      float64
 72  Duties                       0 non-null      float64
 73  Category                     29589 non-null  object
dtypes: bool(2), float64(23), int64(1), object(48)
memory usage: 16.3+ MB

In [309]:
columns = ['Name', 'Email', 'Subtotal', 'Total', 'Discount Code', 'Discount Amount', 'Created at', 'Lineitem quantity',
           'Lineitem name', 'Lineitem price', 'Lineitem sku', 'Vendor', 'Tags', 'Lineitem discount', 'Category']
categorized = categorized[columns]
categorized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29589 entries, 0 to 29588
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               29589 non-null  object
 1   Email              29545 non-null  object
 2   Subtotal           19958 non-null  float64
 3   Total              19958 non-null  float64
 4   Discount Code      2707 non-null   object
 5   Discount Amount    19958 non-null  float64
 6   Created at         29589 non-null  object
 7   Lineitem quantity  29589 non-null  int64
 8   Lineitem name      29589 non-null  object
 9   Lineitem price     29589 non-null  float64
 10  Lineitem sku       28687 non-null  object
 11  Vendor             29589 non-null  object
 12  Tags               9671 non-null   object
 13  Lineitem discount  29589 non-null  float64
 14  Category           29589 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 3.4+ MB

In [310]:
categorized.head()

,Name,Email,Subtotal,Total,Discount Code,Discount Amount,Created at,Lineitem quantity,Lineitem name,Lineitem price,Lineitem sku,Vendor,Tags,Lineitem discount,Category
0,#DBB100437903KR,leea.molin@hotmail.com,34.99,50.98,NaN,0.0,2020-12-31 09:43:43 -0500,1,"[Pre-Order] DAZED BON, BOYZ, VOYAGE (Special E...",34.99,"Magazine - 160026 - DAZED - 데이즈드 BON, BOYZ, VO...",DAZED,NaN,0.0,magazine
1,#DBB100437902KR,rhodesk29@icloud.com,112.35,122.34,NaN,0.0,2020-12-31 07:52:51 -0500,1,BTS 5th Muster - Magic Shop (DVD),110.00,Album - 70091 - BTS - 방탄소년단 5th Muster - Magic...,BTS,NaN,0.0,album
2,#DBB100437902KR,rhodesk29@icloud.com,NaN,NaN,NaN,NaN,2020-12-31 07:52:51 -0500,1,Route Package Protection - $2.35,2.35,ROUTEINS17,Route,NaN,0.0,routeins17
3,#DBB100437901KR,blossomtears@gmx.de,34.99,44.98,NaN,0.0,2020-12-31 07:28:54 -0500,1,"[Pre-Order] DAZED BON, BOYZ, VOYAGE (Special E...",34.99,"Magazine - 160032 - DAZED - 데이즈드 BON, BOYZ, VO...",DAZED,NaN,0.0,magazine
4,#DBB100437900KR,Jthat784@gmail.com,73.97,83.96,NaN,0.0,2020-12-31 01:21:58 -0500,1,"[Pre-Order] TWICE Mina - Yes, I am Mina (1st P...",72.99,"Album - 70834 - TWICE - 트와이스 미나 Yes, I am Mina...",TWICE,NaN,0.0,album

In [311]:
categorized.to_csv('categorized.csv')

In [312]:
categorized['Lineitem name'].value_counts()

Route Package Protection - $0.98                                                   1612
Daebak Box - Seasonal Plan (auto-renews, cancel anytime)                           1500
Annual (ships once every season, auto-renews every year)                           1272
Seasonal (ships once every season, auto-renews every season)                       1248
Daebak Box - Seasonal Plan (auto-renews, cancel anytime) (Ships every 3 Months)    1121
                                                                                   ...
BT21 Heart Embroidery Ball Cap - Pink                                                 1
[Pre-Order] SONG JI EUN - BLOOM: 開花 (Single Album)                                    1
FILA T-PACK Backpack White                                                            1
Shil Note Antique Notebook + Sticker Set (Roots)                                      1
JEONG SEWOON Official Light Stick                                                     1
Name: Lineitem name, Length: 3870, dtype: int64

In [313]:
categorized['Lineitem sku'].value_counts()

DBB_Seasonal                                                          3909
DBB_Annual                                                            3062
ROUTEINS10                                                            1612
SF_DLX                                                                1472
K-Drama - 90017 - tvN - 사이코지만 괜찮아 고문영 동화 책 도서 - 진짜 진짜 얼굴을 찾아서 - DA     631
                                                                      ...
Food - 40099 - Paldo - 뽀로로 떡볶이 버스팩 - 4개 매콤맛 - DA                         1
Characters - 10503 - TinyTAN - 타이니탄 캐릭터 2 Pocket Folder - V - DA         1
Beauty - 21278 - COSRX - Low pH Good Morning Gel Cleanser - ST           1
GM-DA-펜타곤 Five Senses 미니2집-1784912197                                    1
Beauty - 20415 - ETUDE - 하트 블라썸 치크 - #PK004 My Little Blossom            1
Name: Lineitem sku, Length: 4055, dtype: int64

In [314]:
categorized['Category'].value_counts()

dbb_seasonal                   3909
dbb_annual                     3062
album                          2269
kdrama                         2223
routeins10                     1612
                               ...
happyunbirthday1276810134cm       1
nv48417669972                     1
wwws010                           1
nv4922088062                      1
wwws027                           1
Name: Category, Length: 1049, dtype: int64

In [315]:
categorized2 = categorizedItems(categorized)
categorized2 = categorized2[['Lineitem name', 'Lineitem sku', 'Category', 'Lineitem quantity']]
categorized2.head()

,Lineitem name,Lineitem sku,Category,Lineitem quantity
0,'+he zam Hair Cleansing Water,Beauty - 20975 - ETUDE HOUSE - 더 잠 헤어 클렌징 워터,beauty,1
1,'+he zam Hair Cleansing Water,ETUDE-8+he zam Hair Cleansing Water,etude8+he,1
2,'+he zam Therapy Massager,Beauty - 20505 - ETUDE HOUSE - 더 잠 테라피 마사저,beauty,1
3,'+he zam Therapy Massager,ETUDE-12+he zam Therapy Massager,etude12+he,1
4,(G)I-DLE - I AM (1st Mini Album),Album - 70001 - (G)I-DLE - (여자)아이들 I AM 미니1집 - DA,album,1

In [316]:
categorized2_by_category = categorized2.sort_values(by=['Category', 'Lineitem quantity'], ascending=False)
categorized2_by_category.head()

,Lineitem name,Lineitem sku,Category,Lineitem quantity
4383,[Pre-Order] TREASURE - The First Step: Chapter...,트레저 The First Step: Chapter One - 2SET - DA,트레저,8
4379,[Pre-Order] TREASURE - The First Step: Chapter...,트레저 The First Step: Chapter One - Black/With P...,트레저,4
4381,[Pre-Order] TREASURE - The First Step: Chapter...,트레저 The First Step: Chapter One - White/With P...,트레저,4
4380,[Pre-Order] TREASURE - The First Step: Chapter...,트레저 The First Step: Chapter One - White/Album ...,트레저,2
1927,Kakao Friends Monami 153 Ballpen Set (Little M...,카카오프렌즈 모나미153 (4입) - 리틀무지,카카오프렌즈,1

In [317]:
categorized2_by_category.to_csv('categorized_by_category.csv')

In [318]:
categorized2_by_quantity = categorized2.sort_values(by='Lineitem quantity', ascending=False)
categorized2_by_quantity.head()

,Lineitem name,Lineitem sku,Category,Lineitem quantity
2839,Route Package Protection - $0.98,ROUTEINS10,routeins10,1613
1085,"Daebak Box - Seasonal Plan (auto-renews, cance...",DBB_Seasonal,dbb_seasonal,1504
173,"Annual (ships once every season, auto-renews e...",DBB_Annual,dbb_annual,1272
3006,"Seasonal (ships once every season, auto-renews...",DBB_Seasonal,dbb_seasonal,1256
1086,"Daebak Box - Seasonal Plan (auto-renews, cance...",DBB_Seasonal,dbb_seasonal,1122

In [319]:
categorized2_by_quantity.to_csv('categorized_by_quantity.csv')

In [320]:
df_name = categorized['Lineitem name'].value_counts().rename_axis('unique_values').reset_index(name='counts')
df_sku = categorized['Lineitem sku'].value_counts().rename_axis('unique_values').reset_index(name='counts')

In [321]:
df_name.to_csv('name_count.csv')
df_sku.to_csv('sku_count.csv')