In [102]:
import pandas as pd
import numpy as np

PATH = 'Purchased_items_1-13.csv'
PATH2 = 'Customer_report_1-13.csv'
RC_PI = pd.read_csv(PATH, delimiter=',')
RC_CR = pd.read_csv(PATH2, delimiter=',')

In [103]:
# reading items from recharge
RC_PI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9165 entries, 0 to 9164
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   customer_id                      9165 non-null   int64
 1   created_at                       9165 non-null   object
 2   product_title                    9165 non-null   object
 3   variant_title                    1081 non-null   object
 4   product_variant_title            9165 non-null   object
 5   recurring_price                  8067 non-null   float64
 6   price                            9165 non-null   float64
 7   quantity                         9165 non-null   int64
 8   shipping_interval_frequency      8068 non-null   float64
 9   shipping_interval_unit_type      8068 non-null   object
 10  purchase_item_id                 9165 non-null   int64
 11  purchase_id                      9165 non-null   int64
 12  variant_id                       9165 non-null   int64
 13  product_id                       9165 non-null   int64
 14  original_shipping_lines          9156 non-null   object
 15  shipping_first_name              9151 non-null   object
 16  shipping_last_name               9165 non-null   object
 17  shipping_address_1               9165 non-null   object
 18  shipping_address_2               2251 non-null   object
 19  shipping_postalcode              9107 non-null   object
 20  shipping_city                    9165 non-null   object
 21  shipping_company                 315 non-null    object
 22  shipping_province_state          7706 non-null   object
 23  shipping_country                 9165 non-null   object
 24  shipping_phone                   9107 non-null   object
 25  billing_phone                    9154 non-null   object
 26  first_name                       9161 non-null   object
 27  last_name                        9165 non-null   object
 28  email                            9165 non-null   object
 29  charge_on_day_of_month           3313 non-null   float64
 30  charge_on_day_of_week            0 non-null      float64
 31  number_charges_until_expiration  206 non-null    float64
 32  status                           9165 non-null   object
 33  properties                       9149 non-null   object
 34  ReCharge_variant_id              9165 non-null   int64
 35  charge_interval_frequency        8068 non-null   float64
 36  charge_interval_unit_type        8068 non-null   object
 37  cancelled_at                     4530 non-null   object
 38  sku_override                     9126 non-null   object
 39  deleted_at                       1083 non-null   object
 40  recharge_discount_id_on_address  2636 non-null   float64
 41  sku_override_check               9165 non-null   int64
 42  cutoff_day_of_week               0 non-null      float64
 43  cutoff_day_of_month              0 non-null      float64
dtypes: float64(10), int64(8), object(26)
memory usage: 3.1+ MB

In [104]:
RC_PI.describe()

,customer_id,recurring_price,price,quantity,shipping_interval_frequency,purchase_item_id,purchase_id,variant_id,product_id,charge_on_day_of_month,charge_on_day_of_week,number_charges_until_expiration,ReCharge_variant_id,charge_interval_frequency,recharge_discount_id_on_address,sku_override_check,cutoff_day_of_week,cutoff_day_of_month
count,9.165000e+03,8067.000000,9165.000000,9165.000000,8068.000000,9.165000e+03,9.165000e+03,9.165000e+03,9.165000e+03,3313.0,0.0,206.000000,9.165000e+03,8068.000000,2.636000e+03,9165.0,0.0,0.0
mean,3.971576e+07,90.869267,81.181700,1.007310,2.826103,7.524134e+07,4.521731e+07,3.008670e+13,4.101426e+12,0.0,NaN,2.368932,2.647811e+07,5.527888,2.094203e+07,0.0,NaN,NaN
std,7.592306e+06,64.261516,65.975392,0.116563,0.740128,2.488957e+07,8.088382e+06,9.806937e+11,2.312435e+11,0.0,NaN,1.497903,2.114241e+06,4.245222,4.929937e+06,0.0,NaN,NaN
min,3.141258e+07,0.000000,0.000000,1.000000,1.000000,4.788662e+07,3.528443e+07,2.944464e+13,3.962092e+12,0.0,NaN,1.000000,2.509732e+07,1.000000,1.805535e+07,0.0,NaN,NaN
25%,3.307821e+07,49.990000,49.990000,1.000000,3.000000,5.254958e+07,3.789621e+07,2.944464e+13,3.962092e+12,0.0,NaN,1.000000,2.509732e+07,3.000000,1.812043e+07,0.0,NaN,NaN
50%,3.662454e+07,54.990000,54.990000,1.000000,3.000000,7.094163e+07,4.423175e+07,2.952593e+13,3.962096e+12,0.0,NaN,1.000000,2.524882e+07,3.000000,1.886042e+07,0.0,NaN,NaN
75%,4.437642e+07,179.960000,117.000000,1.000000,3.000000,9.456678e+07,5.142237e+07,3.143095e+13,4.411794e+12,0.0,NaN,4.000000,2.888326e+07,12.000000,2.146045e+07,0.0,NaN,NaN
max,5.686593e+07,444.000000,444.000000,6.000000,12.000000,1.246078e+08,6.099015e+07,3.219347e+13,4.616237e+12,0.0,NaN,4.000000,3.192309e+07,12.000000,4.594564e+07,0.0,NaN,NaN

In [105]:
#reading customers from shopify
RC_CR.describe()

,customer recharge id,Shopify customer id,Past Orders Count,Number Active Subscriptions,Number Subscriptions
count,7.083000e+03,7.083000e+03,7083.000000,7083.000000,7083.000000
mean,3.924900e+07,2.881495e+12,2.286319,0.485246,1.139489
std,7.160847e+06,4.819855e+11,1.628231,0.580100,0.450953
min,3.141258e+07,2.146196e+12,0.000000,0.000000,1.000000
25%,3.311869e+07,2.441596e+12,1.000000,0.000000,1.000000
50%,3.629822e+07,2.860666e+12,2.000000,0.000000,1.000000
75%,4.381077e+07,3.245863e+12,3.000000,1.000000,1.000000
max,5.686593e+07,3.810865e+12,16.000000,4.000000,10.000000

In [106]:
'''
1. take all the emails from purchased items dataset in recharge
2. take all the active subscribers, and then
3. compare and merge with all_customers and see if they bought anything other than the subs
4. find details about this

'percentage of customers with a subscription who also purchase from the shop'
'''
RC_CR_active = RC_CR[RC_CR['status']=='Active']
RC_CR_inactive = RC_CR[RC_CR['status']=='Inactive']

In [107]:
RC_CR_active.head()

,customer recharge id,customer first name,customer last name,customer email,created at,status,shipping address 1,shipping address 2,shipping city,shipping postal code,...,billing province,billing country,Shopify customer id,Past Orders Count,Has Valid Payment Method,Reason Payment Method Not Valid,Has Card Error In Dunning,Number Active Subscriptions,Number Subscriptions,First Charge Processed At
0,56865929,Sarahi,Villafana,sarahi.villafana@gmail.com,2021-01-12T18:47:28,Active,1617 W 1800 N,NaN,Clinton,84015,...,Utah,United States,3265819508849,2,True,NaN,False,2,2,2021-01-12 18:47:34
1,56860712,Grace,Chang,changeunhye@gmail.com,2021-01-12T17:01:42,Active,561 W Yellowstone Way,NaN,Chandler,85248,...,Arizona,United States,3810864693361,1,True,NaN,False,1,1,2021-01-12 17:01:47
2,56854593,Marymegan,Daly,marymegandaly@gmail.com,2021-01-12T15:15:27,Active,354 west hubbard ave,NaN,columbus,43215,...,Ohio,United States,3810712289393,1,True,NaN,False,1,1,2021-01-12 15:15:33
3,56824124,Kia,Owens,kiaonfire@hotmail.com,2021-01-12T02:56:47,Active,"21 Sullivan Road, TALLEBUDGERA QLD 4228",NaN,Tallebudgera,4228,...,Queensland,Australia,3809931100273,1,True,NaN,False,1,1,2021-01-12 02:56:54
4,56821078,Sara,Ellis,suzieellis3@gmail.com,2021-01-12T00:35:58,Active,303 Country Club Rd,NaN,LaGrange,30240,...,Georgia,United States,3809825587313,1,True,NaN,False,1,1,2021-01-12 00:36:04

In [108]:
RC_CR_inactive.head()

,customer recharge id,customer first name,customer last name,customer email,created at,status,shipping address 1,shipping address 2,shipping city,shipping postal code,...,billing province,billing country,Shopify customer id,Past Orders Count,Has Valid Payment Method,Reason Payment Method Not Valid,Has Card Error In Dunning,Number Active Subscriptions,Number Subscriptions,First Charge Processed At
10,56768259,Alexandra,Montminy,alexandra.montminy@gmail.com,2021-01-11T05:34:01,Inactive,258 Rue Elizabeth,NaN,Lachute,J8H 2H7,...,Quebec,Canada,3762986123377,0,False,NO_PAYMENT_METHOD,False,1,1,NaN
11,56768051,Claretny,Barnes,cjbrivald@hotmail.com,2021-01-11T05:22:12,Inactive,1057 W Rd,NaN,Chesapeake,23323,...,Virginia,United States,3759807758449,0,False,NO_PAYMENT_METHOD,False,1,1,NaN
15,56728047,Deonna,Kelly,xoxoblasian97@gmail.com,2021-01-10T14:19:20,Inactive,29327 Brockton Circle,NaN,Menifee,92584,...,California,United States,3807362875505,1,True,NaN,False,0,1,2021-01-10 14:19:27
16,56726636,Deonna,Kelly,mermaiddeonna@gmail.com,2021-01-10T13:55:07,Inactive,29327 Brockton Circle,NaN,Menifee,92584,...,California,United States,3807325388913,1,True,NaN,False,0,1,2021-01-10 13:55:13
26,56635026,Hannah,Macaranas,mac_hannah14@yahoo.com,2021-01-08T22:39:35,Inactive,2124 N Screenland Dr,NaN,Burbank,91505,...,California,United States,3804577300593,1,True,NaN,False,0,1,2021-01-08 22:39:41

In [109]:
RC_CR_active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3075 entries, 0 to 7075
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   customer recharge id             3075 non-null   int64
 1   customer first name              3073 non-null   object
 2   customer last name               3075 non-null   object
 3   customer email                   3075 non-null   object
 4   created at                       3075 non-null   object
 5   status                           3075 non-null   object
 6   shipping address 1               3075 non-null   object
 7   shipping address 2               680 non-null    object
 8   shipping city                    3075 non-null   object
 9   shipping postal code             3062 non-null   object
 10  shipping province                2739 non-null   object
 11  shipping country                 3075 non-null   object
 12  shipping_phone                   3064 non-null   object
 13  portal_url                       3075 non-null   object
 14  billing address 1                3075 non-null   object
 15  billing address 2                666 non-null    object
 16  billing city                     3075 non-null   object
 17  billing postal code              3061 non-null   object
 18  billing province                 2740 non-null   object
 19  billing country                  3075 non-null   object
 20  Shopify customer id              3075 non-null   int64
 21  Past Orders Count                3075 non-null   int64
 22  Has Valid Payment Method         3075 non-null   bool
 23  Reason Payment Method Not Valid  0 non-null      object
 24  Has Card Error In Dunning        3075 non-null   bool
 25  Number Active Subscriptions      3075 non-null   int64
 26  Number Subscriptions             3075 non-null   int64
 27  First Charge Processed At        3075 non-null   object
dtypes: bool(2), int64(5), object(21)
memory usage: 654.6+ KB

In [110]:
RC_CR_inactive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3416 entries, 10 to 7082
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   customer recharge id             3416 non-null   int64
 1   customer first name              3415 non-null   object
 2   customer last name               3416 non-null   object
 3   customer email                   3416 non-null   object
 4   created at                       3416 non-null   object
 5   status                           3416 non-null   object
 6   shipping address 1               3416 non-null   object
 7   shipping address 2               914 non-null    object
 8   shipping city                    3416 non-null   object
 9   shipping postal code             3392 non-null   object
 10  shipping province                2707 non-null   object
 11  shipping country                 3416 non-null   object
 12  shipping_phone                   3395 non-null   object
 13  portal_url                       3416 non-null   object
 14  billing address 1                3412 non-null   object
 15  billing address 2                887 non-null    object
 16  billing city                     3412 non-null   object
 17  billing postal code              3386 non-null   object
 18  billing province                 2705 non-null   object
 19  billing country                  3415 non-null   object
 20  Shopify customer id              3416 non-null   int64
 21  Past Orders Count                3416 non-null   int64
 22  Has Valid Payment Method         3416 non-null   bool
 23  Reason Payment Method Not Valid  48 non-null     object
 24  Has Card Error In Dunning        3416 non-null   bool
 25  Number Active Subscriptions      3416 non-null   int64
 26  Number Subscriptions             3416 non-null   int64
 27  First Charge Processed At        3413 non-null   object
dtypes: bool(2), int64(5), object(21)
memory usage: 727.2+ KB

In [111]:
shopify_customers = pd.read_csv('all_customers_shopify_1-13.csv', delimiter=',')
shopify_customers.head()

,First Name,Last Name,Email,Company,Address1,Address2,City,Province,Province Code,Country,Country Code,Zip,Phone,Accepts Marketing,Total Spent,Total Orders,Tags,Note,Tax Exempt
0,Micah,Jumaquio,micahjumaq@gmail.com,NaN,177 Blackthorn Avenue,NaN,Toronto,Ontario,ON,Canada,CA,M6N 3H7,'+1 647 866 1159,yes,99.95,1,NaN,NaN,no
1,Alain,Tran,sillywiener@aol.com,NaN,Christian-Schad-Straße 2,bei Tran/Alten,Aschaffenburg,NaN,NaN,Germany,DE,63743,'+49 1590 6465323,yes,99.63,1,NaN,NaN,no
2,Nickie,Venegas,dhv2350@email.vccs.edu,NaN,4000 Foxwood dr,NaN,Virginia beach,Virginia,VA,United States,US,23462,(757) 478-8922,no,0.00,0,NaN,NaN,no
3,Victoria,Morris,tori-morris@hotmail.com,NaN,1955 SW 5th Ave,Apt 1030,Portland,Oregon,OR,United States,US,97201,(541) 294-8943,yes,0.00,0,NaN,NaN,no
4,Manjusha,Punugu,manjushapunugu@gmail.com,NaN,9073 MITCHELL DEWITT RD,NaN,PLAIN CITY,Ohio,OH,United States,US,43064,(614) 800-7089,yes,118.12,1,NaN,NaN,no

In [112]:
shopify_customers.rename(columns={'Email':'customer email'}, inplace=True)
shopify_customers.head()

,First Name,Last Name,customer email,Company,Address1,Address2,City,Province,Province Code,Country,Country Code,Zip,Phone,Accepts Marketing,Total Spent,Total Orders,Tags,Note,Tax Exempt
0,Micah,Jumaquio,micahjumaq@gmail.com,NaN,177 Blackthorn Avenue,NaN,Toronto,Ontario,ON,Canada,CA,M6N 3H7,'+1 647 866 1159,yes,99.95,1,NaN,NaN,no
1,Alain,Tran,sillywiener@aol.com,NaN,Christian-Schad-Straße 2,bei Tran/Alten,Aschaffenburg,NaN,NaN,Germany,DE,63743,'+49 1590 6465323,yes,99.63,1,NaN,NaN,no
2,Nickie,Venegas,dhv2350@email.vccs.edu,NaN,4000 Foxwood dr,NaN,Virginia beach,Virginia,VA,United States,US,23462,(757) 478-8922,no,0.00,0,NaN,NaN,no
3,Victoria,Morris,tori-morris@hotmail.com,NaN,1955 SW 5th Ave,Apt 1030,Portland,Oregon,OR,United States,US,97201,(541) 294-8943,yes,0.00,0,NaN,NaN,no
4,Manjusha,Punugu,manjushapunugu@gmail.com,NaN,9073 MITCHELL DEWITT RD,NaN,PLAIN CITY,Ohio,OH,United States,US,43064,(614) 800-7089,yes,118.12,1,NaN,NaN,no

In [113]:
# active merged
merged_df_active = shopify_customers.merge(RC_CR_active, on='customer email', how='inner')
merged_df_active.head()

,First Name,Last Name,customer email,Company,Address1,Address2,City,Province,Province Code,Country,...,billing province,billing country,Shopify customer id,Past Orders Count,Has Valid Payment Method,Reason Payment Method Not Valid,Has Card Error In Dunning,Number Active Subscriptions,Number Subscriptions,First Charge Processed At
0,Grace,Chang,changeunhye@gmail.com,NaN,561 W Yellowstone Way,NaN,Chandler,Arizona,AZ,United States,...,Arizona,United States,3810864693361,1,True,NaN,False,1,1,2021-01-12 17:01:47
1,Marymegan,Daly,marymegandaly@gmail.com,NaN,354 west hubbard ave,NaN,columbus,Ohio,OH,United States,...,Ohio,United States,3810712289393,1,True,NaN,False,1,1,2021-01-12 15:15:33
2,Kia,Owens,kiaonfire@hotmail.com,NaN,"21 Sullivan Road, TALLEBUDGERA QLD 4228",NaN,Tallebudgera,Queensland,QLD,Australia,...,Queensland,Australia,3809931100273,1,True,NaN,False,1,1,2021-01-12 02:56:54
3,Sara,Ellis,suzieellis3@gmail.com,NaN,303 Country Club Rd,NaN,LaGrange,Georgia,GA,United States,...,Georgia,United States,3809825587313,1,True,NaN,False,1,1,2021-01-12 00:36:04
4,Lauren,Castillo,laurencastillo519@gmail.com,NaN,50 Valley View Dr,NaN,Farmington,Connecticut,CT,United States,...,Connecticut,United States,3809584218225,1,True,NaN,False,1,1,2021-01-11 21:04:46

In [114]:
merged_df_active = merged_df_active[['First Name', 'Last Name', 'customer email', 'customer recharge id', 'Shopify customer id',
                       'created at', 'First Charge Processed At', 'status', 'Number Active Subscriptions',
                       'Number Subscriptions', 'portal_url', 'Total Spent', 'Total Orders', 'Past Orders Count',
                       'Tags', 'Address1', 'City', 'Province Code', 'Country', 'Accepts Marketing']]

In [115]:
merged_df_active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3021 entries, 0 to 3020
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   First Name                   3019 non-null   object
 1   Last Name                    3021 non-null   object
 2   customer email               3021 non-null   object
 3   customer recharge id         3021 non-null   int64
 4   Shopify customer id          3021 non-null   int64
 5   created at                   3021 non-null   object
 6   First Charge Processed At    3021 non-null   object
 7   status                       3021 non-null   object
 8   Number Active Subscriptions  3021 non-null   int64
 9   Number Subscriptions         3021 non-null   int64
 10  portal_url                   3021 non-null   object
 11  Total Spent                  3021 non-null   float64
 12  Total Orders                 3021 non-null   int64
 13  Past Orders Count            3021 non-null   int64
 14  Tags                         3015 non-null   object
 15  Address1                     3019 non-null   object
 16  City                         3019 non-null   object
 17  Province Code                2684 non-null   object
 18  Country                      3019 non-null   object
 19  Accepts Marketing            3021 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 495.6+ KB

In [116]:
merged_df_active.describe()

,customer recharge id,Shopify customer id,Number Active Subscriptions,Number Subscriptions,Total Spent,Total Orders,Past Orders Count
count,3.021000e+03,3.021000e+03,3021.000000,3021.000000,3021.000000,3021.000000,3021.000000
mean,4.123117e+07,2.998396e+12,1.088712,1.211850,351.546776,5.617676,2.849057
std,7.872631e+06,5.049479e+11,0.318432,0.549658,319.742529,4.464704,1.926219
min,3.153716e+07,2.148691e+12,1.000000,1.000000,0.000000,0.000000,1.000000
25%,3.383735e+07,2.624745e+12,1.000000,1.000000,176.940000,3.000000,1.000000
50%,4.050673e+07,3.063325e+12,1.000000,1.000000,279.060000,5.000000,2.000000
75%,4.721688e+07,3.368563e+12,1.000000,1.000000,410.980000,7.000000,4.000000
max,5.686593e+07,3.810865e+12,4.000000,7.000000,3928.350000,48.000000,16.000000

In [117]:
merged_df_active.head()

,First Name,Last Name,customer email,customer recharge id,Shopify customer id,created at,First Charge Processed At,status,Number Active Subscriptions,Number Subscriptions,portal_url,Total Spent,Total Orders,Past Orders Count,Tags,Address1,City,Province Code,Country,Accepts Marketing
0,Grace,Chang,changeunhye@gmail.com,56860712,3810864693361,2021-01-12T17:01:42,2021-01-12 17:01:47,Active,1,1,daebakbox.myshopify.com/tools/recurring/custom...,239.92,1,1,"Active Subscriber, ANNUAL",561 W Yellowstone Way,Chandler,AZ,United States,yes
1,Marymegan,Daly,marymegandaly@gmail.com,56854593,3810712289393,2021-01-12T15:15:27,2021-01-12 15:15:33,Active,1,1,daebakbox.myshopify.com/tools/recurring/custom...,236.92,1,1,Active Subscriber,354 west hubbard ave,columbus,OH,United States,no
2,Kia,Owens,kiaonfire@hotmail.com,56824124,3809931100273,2021-01-12T02:56:47,2021-01-12 02:56:54,Active,1,1,daebakbox.myshopify.com/tools/recurring/custom...,146.97,1,1,Active Subscriber,"21 Sullivan Road, TALLEBUDGERA QLD 4228",Tallebudgera,QLD,Australia,no
3,Sara,Ellis,suzieellis3@gmail.com,56821078,3809825587313,2021-01-12T00:35:58,2021-01-12 00:36:04,Active,1,1,daebakbox.myshopify.com/tools/recurring/custom...,65.96,1,1,"Active Subscriber, SEASONAL",303 Country Club Rd,LaGrange,GA,United States,yes
4,Lauren,Castillo,laurencastillo519@gmail.com,56811944,3809584218225,2021-01-11T21:04:41,2021-01-11 21:04:46,Active,1,1,daebakbox.myshopify.com/tools/recurring/custom...,65.96,1,1,"Active Subscriber, SEASONAL",50 Valley View Dr,Farmington,CT,United States,no

In [118]:
# inactive merged
merged_df_inactive = shopify_customers.merge(RC_CR_inactive, on='customer email', how='inner')
merged_df_inactive = merged_df_inactive[['First Name', 'Last Name', 'customer email', 'customer recharge id', 'Shopify customer id',
                       'created at', 'First Charge Processed At', 'status', 'Number Active Subscriptions',
                       'Number Subscriptions', 'portal_url', 'Total Spent', 'Total Orders', 'Past Orders Count',
                       'Tags', 'Address1', 'City', 'Province Code', 'Country', 'Accepts Marketing']]
merged_df_inactive.head()

,First Name,Last Name,customer email,customer recharge id,Shopify customer id,created at,First Charge Processed At,status,Number Active Subscriptions,Number Subscriptions,portal_url,Total Spent,Total Orders,Past Orders Count,Tags,Address1,City,Province Code,Country,Accepts Marketing
0,Deonna,Kelly,xoxoblasian97@gmail.com,56728047,3807362875505,2021-01-10T14:19:20,2021-01-10 14:19:27,Inactive,0,1,daebakbox.myshopify.com/tools/recurring/custom...,50.97,1,1,Inactive Subscriber,29327 Brockton Circle,Menifee,CA,United States,no
1,Deonna,Kelly,mermaiddeonna@gmail.com,56726636,3807325388913,2021-01-10T13:55:07,2021-01-10 13:55:13,Inactive,0,1,daebakbox.myshopify.com/tools/recurring/custom...,55.96,1,1,Inactive Subscriber,29327 Brockton Circle,Menifee,CA,United States,no
2,Hannah,Macaranas,mac_hannah14@yahoo.com,56635026,3804577300593,2021-01-08T22:39:35,2021-01-08 22:39:41,Inactive,0,1,daebakbox.myshopify.com/tools/recurring/custom...,47.97,1,1,Inactive Subscriber,2124 N Screenland Dr,Burbank,CA,United States,no
3,Lyndon,Bright,ltb2231@gmail.com,56343833,3795890503793,2021-01-04T05:00:31,2021-01-04 05:00:38,Inactive,0,1,daebakbox.myshopify.com/tools/recurring/custom...,45.97,1,1,Inactive Subscriber,18 Bond St,Preston,VIC,Australia,no
4,Cristina,Serna,cricrileo.3@gmail.com,56262238,3793575411825,2021-01-02T19:24:51,2021-01-02 19:24:57,Inactive,0,1,daebakbox.myshopify.com/tools/recurring/custom...,60.96,1,1,"Inactive Subscriber, SEASONAL",18625 E. Burnside St.,Portland,OR,United States,no

In [119]:
merged_df_inactive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3366 entries, 0 to 3365
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   First Name                   3365 non-null   object
 1   Last Name                    3365 non-null   object
 2   customer email               3366 non-null   object
 3   customer recharge id         3366 non-null   int64
 4   Shopify customer id          3366 non-null   int64
 5   created at                   3366 non-null   object
 6   First Charge Processed At    3363 non-null   object
 7   status                       3366 non-null   object
 8   Number Active Subscriptions  3366 non-null   int64
 9   Number Subscriptions         3366 non-null   int64
 10  portal_url                   3366 non-null   object
 11  Total Spent                  3366 non-null   float64
 12  Total Orders                 3366 non-null   int64
 13  Past Orders Count            3366 non-null   int64
 14  Tags                         3363 non-null   object
 15  Address1                     3336 non-null   object
 16  City                         3337 non-null   object
 17  Province Code                2640 non-null   object
 18  Country                      3337 non-null   object
 19  Accepts Marketing            3366 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 552.2+ KB

In [120]:
# now take all orders history data from shopify and compare/merge with active vs inactive
# key : shopify customer id or customer email
all_files = ['orders_export_1.csv', 'orders_export_2.csv', 'orders_export_3.csv']

df_from_each_file = (pd.read_csv(f) for f in all_files)
all_orders = pd.concat(df_from_each_file, ignore_index=True)

<ipython-input-120-0d87d001e6df>:6: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  all_orders = pd.concat(df_from_each_file, ignore_index=True)
<ipython-input-120-0d87d001e6df>:6: DtypeWarning: Columns (52) have mixed types.Specify dtype option on import or set low_memory=False.
  all_orders = pd.concat(df_from_each_file, ignore_index=True)
<ipython-input-120-0d87d001e6df>:6: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  all_orders = pd.concat(df_from_each_file, ignore_index=True)

In [121]:
# for all orders active
all_orders.rename(columns={'Email':'customer email'}, inplace=True)
all_orders_active = all_orders.merge(merged_df_active, on='customer email', how='inner')
all_orders_active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23283 entries, 0 to 23282
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         23283 non-null  object
 1   customer email               23283 non-null  object
 2   Financial Status             16816 non-null  object
 3   Paid at                      12667 non-null  object
 4   Fulfillment Status           16816 non-null  object
 5   Fulfilled at                 16335 non-null  object
 6   Accepts Marketing_x          16816 non-null  object
 7   Currency                     16816 non-null  object
 8   Subtotal                     16816 non-null  float64
 9   Shipping                     16816 non-null  float64
 10  Taxes                        16816 non-null  float64
 11  Total                        16816 non-null  float64
 12  Discount Code                2583 non-null   object
 13  Discount Amount              16816 non-null  float64
 14  Shipping Method              16804 non-null  object
 15  Created at                   23283 non-null  object
 16  Lineitem quantity            23283 non-null  int64
 17  Lineitem name                23283 non-null  object
 18  Lineitem price               23283 non-null  float64
 19  Lineitem compare at price    4048 non-null   float64
 20  Lineitem sku                 22451 non-null  object
 21  Lineitem requires shipping   23283 non-null  bool
 22  Lineitem taxable             23283 non-null  bool
 23  Lineitem fulfillment status  23283 non-null  object
 24  Billing Name                 16816 non-null  object
 25  Billing Street               16815 non-null  object
 26  Billing Address1             16815 non-null  object
 27  Billing Address2             3728 non-null   object
 28  Billing Company              326 non-null    object
 29  Billing City                 16815 non-null  object
 30  Billing Zip                  16741 non-null  object
 31  Billing Province             14755 non-null  object
 32  Billing Country              16815 non-null  object
 33  Billing Phone                16582 non-null  object
 34  Shipping Name                16815 non-null  object
 35  Shipping Street              16815 non-null  object
 36  Shipping Address1            16815 non-null  object
 37  Shipping Address2            3867 non-null   object
 38  Shipping Company             421 non-null    object
 39  Shipping City                16815 non-null  object
 40  Shipping Zip                 16741 non-null  object
 41  Shipping Province            14744 non-null  object
 42  Shipping Country             16815 non-null  object
 43  Shipping Phone               16794 non-null  object
 44  Notes                        5677 non-null   object
 45  Note Attributes              6568 non-null   object
 46  Cancelled at                 103 non-null    object
 47  Payment Method               4325 non-null   object
 48  Payment Reference            12835 non-null  object
 49  Refunded Amount              16816 non-null  float64
 50  Vendor                       23283 non-null  object
 51  Outstanding Balance          16816 non-null  float64
 52  Employee                     2 non-null      object
 53  Location                     369 non-null    object
 54  Device ID                    0 non-null      float64
 55  Id                           16816 non-null  float64
 56  Tags_x                       12872 non-null  object
 57  Risk Level                   16816 non-null  object
 58  Source                       16816 non-null  object
 59  Lineitem discount            23283 non-null  float64
 60  Tax 1 Name                   1138 non-null   object
 61  Tax 1 Value                  1138 non-null   float64
 62  Tax 2 Name                   524 non-null    object
 63  Tax 2 Value                  524 non-null    float64
 64  Tax 3 Name                   85 non-null     object
 65  Tax 3 Value                  85 non-null     float64
 66  Tax 4 Name                   0 non-null      float64
 67  Tax 4 Value                  0 non-null      float64
 68  Tax 5 Name                   0 non-null      float64
 69  Tax 5 Value                  0 non-null      float64
 70  Phone                        1346 non-null   float64
 71  Receipt Number               0 non-null      float64
 72  Duties                       0 non-null      float64
 73  First Name                   23273 non-null  object
 74  Last Name                    23283 non-null  object
 75  customer recharge id         23283 non-null  int64
 76  Shopify customer id          23283 non-null  int64
 77  created at                   23283 non-null  object
 78  First Charge Processed At    23283 non-null  object
 79  status                       23283 non-null  object
 80  Number Active Subscriptions  23283 non-null  int64
 81  Number Subscriptions         23283 non-null  int64
 82  portal_url                   23283 non-null  object
 83  Total Spent                  23283 non-null  float64
 84  Total Orders                 23283 non-null  int64
 85  Past Orders Count            23283 non-null  int64
 86  Tags_y                       23229 non-null  object
 87  Address1                     23283 non-null  object
 88  City                         23283 non-null  object
 89  Province Code                20540 non-null  object
 90  Country                      23283 non-null  object
 91  Accepts Marketing_y          23283 non-null  object
dtypes: bool(2), float64(23), int64(7), object(60)
memory usage: 16.2+ MB

In [122]:
# template for the columns that we want
columns = ['First Name', 'Last Name', 'customer email', 'customer recharge id', 'Shopify customer id', 
           'created at', 'First Charge Processed At', 'status', 'Number Active Subscriptions', 
           'Number Subscriptions', 'portal_url', 'Accepts Marketing_x', 'Total Spent', 'Total Orders',
           'Past Orders Count', 'Paid at', 'Lineitem name', 'Lineitem sku', 'Lineitem quantity',
           'Lineitem price', 'Subtotal', 'Total', 'Tags_x', 'Tags_y', 'Address1', 'City', 'Province Code', 'Country']

In [123]:
all_orders_active = all_orders_active[columns]
all_orders_active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23283 entries, 0 to 23282
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   First Name                   23273 non-null  object
 1   Last Name                    23283 non-null  object
 2   customer email               23283 non-null  object
 3   customer recharge id         23283 non-null  int64
 4   Shopify customer id          23283 non-null  int64
 5   created at                   23283 non-null  object
 6   First Charge Processed At    23283 non-null  object
 7   status                       23283 non-null  object
 8   Number Active Subscriptions  23283 non-null  int64
 9   Number Subscriptions         23283 non-null  int64
 10  portal_url                   23283 non-null  object
 11  Accepts Marketing_x          16816 non-null  object
 12  Total Spent                  23283 non-null  float64
 13  Total Orders                 23283 non-null  int64
 14  Past Orders Count            23283 non-null  int64
 15  Paid at                      12667 non-null  object
 16  Lineitem name                23283 non-null  object
 17  Lineitem sku                 22451 non-null  object
 18  Lineitem quantity            23283 non-null  int64
 19  Lineitem price               23283 non-null  float64
 20  Subtotal                     16816 non-null  float64
 21  Total                        16816 non-null  float64
 22  Tags_x                       12872 non-null  object
 23  Tags_y                       23229 non-null  object
 24  Address1                     23283 non-null  object
 25  City                         23283 non-null  object
 26  Province Code                20540 non-null  object
 27  Country                      23283 non-null  object
dtypes: float64(4), int64(7), object(17)
memory usage: 5.2+ MB

In [124]:
# for all orders inactive
all_orders_inactive = all_orders.merge(merged_df_inactive, on='customer email', how='inner')
all_orders_inactive = all_orders_inactive[columns]
all_orders_inactive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10937 entries, 0 to 10936
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   First Name                   10937 non-null  object
 1   Last Name                    10937 non-null  object
 2   customer email               10937 non-null  object
 3   customer recharge id         10937 non-null  int64
 4   Shopify customer id          10937 non-null  int64
 5   created at                   10937 non-null  object
 6   First Charge Processed At    10931 non-null  object
 7   status                       10937 non-null  object
 8   Number Active Subscriptions  10937 non-null  int64
 9   Number Subscriptions         10937 non-null  int64
 10  portal_url                   10937 non-null  object
 11  Accepts Marketing_x          9438 non-null   object
 12  Total Spent                  10937 non-null  float64
 13  Total Orders                 10937 non-null  int64
 14  Past Orders Count            10937 non-null  int64
 15  Paid at                      7289 non-null   object
 16  Lineitem name                10937 non-null  object
 17  Lineitem sku                 10731 non-null  object
 18  Lineitem quantity            10937 non-null  int64
 19  Lineitem price               10937 non-null  float64
 20  Subtotal                     9438 non-null   float64
 21  Total                        9438 non-null   float64
 22  Tags_x                       8450 non-null   object
 23  Tags_y                       10934 non-null  object
 24  Address1                     10876 non-null  object
 25  City                         10878 non-null  object
 26  Province Code                8596 non-null   object
 27  Country                      10878 non-null  object
dtypes: float64(4), int64(7), object(17)
memory usage: 2.4+ MB

#### analysis on active

In [125]:
all_orders_active.head()

,First Name,Last Name,customer email,customer recharge id,Shopify customer id,created at,First Charge Processed At,status,Number Active Subscriptions,Number Subscriptions,...,Lineitem quantity,Lineitem price,Subtotal,Total,Tags_x,Tags_y,Address1,City,Province Code,Country
0,Lori,Concepcion,pualii808@gmail.com,56512056,3498596860017,2021-01-06T20:45:04,2021-01-06 20:45:11,Active,1,1,...,1,199.96,204.11,224.07,"ANNUAL, Subscription, Subscription First Order","Active Subscriber, ANNUAL",2232 Kapiolani Blvd,Honolulu,HI,United States
1,Lori,Concepcion,pualii808@gmail.com,56512056,3498596860017,2021-01-06T20:45:04,2021-01-06 20:45:11,Active,1,1,...,1,4.15,NaN,NaN,NaN,"Active Subscriber, ANNUAL",2232 Kapiolani Blvd,Honolulu,HI,United States
2,Lori,Concepcion,pualii808@gmail.com,56512056,3498596860017,2021-01-06T20:45:04,2021-01-06 20:45:11,Active,1,1,...,1,126.99,126.99,126.99,NaN,"Active Subscriber, ANNUAL",2232 Kapiolani Blvd,Honolulu,HI,United States
3,Malia,Jones,maliajs@yahoo.com,56509061,3800958861425,2021-01-06T19:34:07,2021-01-06 19:34:14,Active,1,1,...,1,40.00,40.98,45.97,"Subscription, Subscription First Order",Active Subscriber,4712 E La Dolce Rd,Colbert,WA,United States
4,Malia,Jones,maliajs@yahoo.com,56509061,3800958861425,2021-01-06T19:34:07,2021-01-06 19:34:14,Active,1,1,...,1,0.98,NaN,NaN,NaN,Active Subscriber,4712 E La Dolce Rd,Colbert,WA,United States

In [127]:
all_orders_active.loc[
    all_orders_active.duplicated(
        ['customer email']),
    ['Total Spent']] = np.nan
all_orders_active.to_csv("all_orders_active.csv")

#### analysis on inactive

In [128]:
all_orders_inactive.loc[
    all_orders_inactive.duplicated(
        ['customer email']),
    ['Total Spent']] = np.nan
all_orders_inactive.to_csv("all_orders_inactive.csv")